<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShopifyAPI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <applicationSettings>
  <ShopifyAPI.My.MySettings>
    <setting name="Shopify_API_Key" serializeAs="String">
      <value>a275b802aa1aadfd492bf2ae66a9c040</value>
    </setting>
    <setting name="Shopify_Secret_Key" serializeAs="String">
      <value>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</value>
    </setting>
    <setting name="Shopify_Store_URL" serializeAs="String">
      <value>https://msread.myshopify.com/</value>
    </setting>
    <setting name="Shopify_App_DB_Conn" serializeAs="String">
      <value>Data Source=wannatalkghl.cys7xzxa94iq.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=lechurntest;Persist Security Info=False;User ID=admin;Password=Sophie383838</value>
    </setting>
    <setting name="Shopify_API_Rate_Limit_Header" serializeAs="String">
      <value>X-Shopify-Shop-Api-Call-Limit</value>
    </setting>
    <setting name="Shopify_API_Rate_Limit_Retry_Header" serializeAs="String">
      <value>Retry-After</value>
    </setting>
    <setting name="Shopify_API_Call_Limit" serializeAs="String">
      <value>40/40</value>
    </setting>
    <setting name="Shopify_API_Dummy_CustomerID" serializeAs="String">
      <value>3288974491757</value>
    </setting>
    <setting name="Shopify_API_Key_Public_" serializeAs="String">
      <value>92eb4c96c2882b6f2dacf25073d56a07</value>
    </setting>
    <setting name="Shopify_Secret_Key_Public" serializeAs="String">
      <value>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</value>
    </setting>
    <setting name="Shopify_Store_URL_Public" serializeAs="String">
      <value>https://test-store-113344432.myshopify.com/</value>
    </setting>
    <setting name="Shopify_App_URL" serializeAs="String">
      <value>http://www.teamjello.com/</value>
    </setting>
  </ShopifyAPI.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>